{%  extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Registramela</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div>
        <div class="mb-3">
            <label for="clave2" class="form-label">Confirmar Clave</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Registrarse">
{% endblock %}